In [1]:
from unicodedata import normalize
import pandas as pd

In [2]:
def pt_normalize(word):
        return normalize("NFKD", word).encode("ASCII", "ignore").decode("ASCII")

In [34]:
df = pd.read_csv("all_nouns.csv")

In [35]:
df.head(10)

         noun     support  len  variation
0      alares      alares    6          1
1  hespérides  hespérides   10          1
2    escassez    escassez    8          1
3      tempão      tempão    6          1
4      xalmas      xalmas    6          1
5     pleuris     pleuris    7          1
6       fiote       fiote    5          1
7    gentinha    gentinha    8          1
8     balugas     balugas    7          1
9        idos        idos    4          1

In [26]:
# df['noun'] = df['noun'].apply(pt_normalize)
# df['support'] = df['support'].apply(pt_normalize)

In [36]:
dict = {'noun': ['desenvolvedor', 'desenvolvedora', 'desenvolvedores', 'desenvolvedoras'], 
        'support': ['desenvolvedor', 'desenvolvedor', 'desenvolvedor', 'desenvolvedor'], 
        'len': [13, 14, 15, 15],
        'variation': [4, 4, 4, 4],
#         'meaning': ["{'error': 'Request failed with status code 404'}", 
#              "{'error': 'Request failed with status code 404'}", 
#              "{'error': 'Request failed with status code 404'}", 
#              "{'error': 'Request failed with status code 404'}"]
       }
d2 = pd.DataFrame(dict)
df = df.append(d2, ignore_index = True)

In [37]:
df

                   noun        support  len  variation
0                alares         alares    6          1
1            hespérides     hespérides   10          1
2              escassez       escassez    8          1
3                tempão         tempão    6          1
4                xalmas         xalmas    6          1
...                 ...            ...  ...        ...
130422         ladritas         ladrão    8         24
130423    desenvolvedor  desenvolvedor   13          4
130424   desenvolvedora  desenvolvedor   14          4
130425  desenvolvedores  desenvolvedor   15          4
130426  desenvolvedoras  desenvolvedor   15          4

[130427 rows x 4 columns]

In [38]:
df[df.noun.str.contains('desenvolv')]

                         noun               support  len  variation
16532   hiperdesenvolvimentos  hiperdesenvolvimento   21          2
16533    hiperdesenvolvimento  hiperdesenvolvimento   20          2
25924    hipodesenvolvimentos   hipodesenvolvimento   20          2
25925     hipodesenvolvimento   hipodesenvolvimento   19          2
34192     subdesenvolvimentos    subdesenvolvimento   19          2
34193      subdesenvolvimento    subdesenvolvimento   18          2
86240        desenvolvimentos       desenvolvimento   16          2
86241         desenvolvimento       desenvolvimento   15          2
107523        subdesenvolvida       subdesenvolvido   15          4
107534       subdesenvolvidas       subdesenvolvido   16          4
107548        subdesenvolvido       subdesenvolvido   15          4
107549       subdesenvolvidos       subdesenvolvido   16          4
130423          desenvolvedor         desenvolvedor   13          4
130424         desenvolvedora         desenvolvedor   14          4
130425        desenvolvedores         desenvolvedor   15          4
130426        desenvolvedoras         desenvolvedor   15          4

In [39]:
df.to_csv('all_nouns.csv', index = False)